<footer class="text-center">
    <div class="container mt-5 py-2">
  <div class="row d-flex align-items-center">
    <div class="col-lg-3">
        <div class="logo" class="mb-3">
            <img src="/logo.jpeg"alt="hexashop ecommerce templatemo" style="width: 100%;">
        </div>
        <!-- <ul>
            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
            <li><a href="#">hexashopcompany.com</a></li>
            <li><a href="#">010-020-0340</a></li>
        </ul> -->
    </div>
    <div class="col-lg-3">
      <ul>
        <li class="mb-3"><h5 >Shopping & Categories</h5></li>
        <li><a href="">Men’s Shopping</a></li>

        <li><a href="">Women’s Shopping</a></li>
        <li><a href="">Kid's Shopping</a></li>
          <li><a href="">Bag's Shopping</a></li>
            <li><a href="">Food's Shopping</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <ul>
        <li class="mb-3"><h5>Useful Links</h5></li>
        <li><a href="">Homepage</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Help</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <ul>
        <li class="mb-3"><h5>Help & Information</h5></li>
        <li><a href="">lp</a></li>
        <li><a href="">FAQ's</a></li>
        <li><a href="">Shipping</a></li>
        <li><a href="">Tracking ID</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div>
    <p>Copyright © 2022 HandMade All Rights Reserved.</p>
  </div>
  <div><p>Disgn:Handora</p></div>
  <div><ul class="d-flex justify-content-center gap-3 fs-5">
      <li class="links"><a href="#"><i class="bi bi-twitter"></i></a></li>
      <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
      <li><a href="#"><i class="bi bi-facebook"></i></a></li>
    <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
</ul></div>
</div>
</footer>
