<nav class="navbar">
  <div class="logo-container">
    <a routerLink="home"> <img src="assets/images/logo.png" alt="Logo"></a>
   
  </div>

  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
    <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
    <li><a routerLink="/product" routerLinkActive="active">Product</a></li>
  </ul>

  <div class="signout-container">
    <button class="signout-btn">Sign Out</button>
  </div>
</nav>
